body {
    font-family: sans-serif;
    background: #eee;
}

a,h1,h2 ,.submitbtn{
    color: #377BA8;
}

h1,h2 {
    font-family: 'Georgia', serif;
    margin: 0;
}

h1 {
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 1.2em;
}

.page {
    margin: 2em auto;
    width: 35em;
    border: 5px solid #ccc;
    padding: 0.8em;
    background: white;
}

.entries {
    list-style: none;
    margin: 0;
    padding: 0;
}

.entries li {
    margin: 0.8em 1.2em;
}

.entries li h2 {
    margin-left: -1em;
}

.add-entry {
    font-size: 0.9em;
    border-bottom: 1px solid #ccc;
}

.add-entry dl {
    font-weight: bold;
}

.metanav {
    text-align: right;
    font-size: 0.8em;
    padding: 0.3em;
    margin-bottom: 1em;
    background: #fafafa;
}

.flash {
    background: #CEE5F5;
    padding: 0.5em;
    border: 1px solid #AACBE2;
}

.error {
    background: #F0D6D6;
    padding: 0.5em;
}

 /*消除链接下划线，设置链接字体颜色*/
a{
    text-decoration: none;
}
/*鼠标指针浮动在链接上时，样式改变:字体变红色*/
a:hover {
    txt-decoration: underline;
    color: #377BA8;
}

ul{
    width: 100%;
    height: 100%;
    height:auto;
    background-color: #0f0f0f;
}

li {
    overflow: hidden;
    font-size: 16px;
    height: 50px;
    float: left;
    list-style:none;
    width:100%;
}

.ecoshop{
    float: left;
    display: inline-block;
    width: 30%;
}

.form-group {
    float: left;
    display: inline-block;
    width:70%;
}

.col-sm-8{
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
    width:66.66666667%
}

.control-label{
    float: left;margin-right: 2em;
    display: inline-block;
    font-weight: 700;
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    width:20%;
}

.radio, .radio-inline {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;
}

.radio-inline input[type=radio],.free_delivery input,.delivery_markup input {
    margin-top: 3px;
}

.radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 10px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}

label a,.submitbtn{
    font-size: 1.2em;
}

.free_delivery, .delivery_markup ,.isinvoice ,.submitbtn{
    margin-top: 10px;
}


.submitbtn{
    float: left;
    border: 1px solid #377BA8;
    margin-top: 20px;
    width: 60px;
    height: 30px;
}
