<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylem.css') }}">
    <link rel="stylesheet" type="text/css" media="screen"  href="{{ url_for('static', filename='css/multi-select.css') }}">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        function set_eco_shop() {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/set_eco_shop" ,
                data: $('#ecoform').serialize(),
                success: function (result) {
                    console.log(result);//打印服务端返回的数据(调试用)
                    if (result.success == "1") {
                        alert("修改成功");
                    } else {
                        alert(result.msg);
                    }
                    ;
                },
                error : function() {
                    alert("异常！");
                }
            });
        }
    </script>
    <meta charset="UTF-8">
    <title>配置eco</title>
</head>
<body>
{%
set sel_dintime = {
'当天':'1',
'第二天':'2',
'第三天':'3',
'第四天':'4',
'第五天':'5',
'第六天':'6',
'第七天':'7'
}
%}
<form  method="POST" id="ecoform" >
    <div>
        <div class="ecoshop">
            <input type="hidden" id="sel_shop" name="sel_Shop" value="">
            <ul class="checkshop">
                {% for i in shoplist %}
                <li><input id="check_shop" type="checkbox" name="shopcontent" value="{{i}}"><a>{{i.sid}}</a> —— <a>{{i.sname}}</a></li>
                {% endfor %}
             </ul>
        </div>
        <div class="form-group">
            <div class="content">
                <label class="control-label"><a>是否支持发票：</a></label>
                <div class="col-sm-8">
                    <div class="radio radio-info radio-inline">
                        <input checked="" class="invoice" type="radio" id="invoiceRadio5" name="invoice" value="1">
                        <label for="invoiceRadio5"> 是 </label>
                    </div>
                    <div class="radio radio-inline">
                        <input class="invoice" type="radio" id="invoiceRadio6" name="invoice" value="0">
                        <label for="invoiceRadio6"> 否 </label>
                    </div>
                </div>
            </div>
            <div class="content">
                <label class="control-label"><a>免外送费条件/元：</a></label>
                <input type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" name="free_delivery" id="free_delivery" value="0">
            </div>
            <div class="content">
                <label class="control-label"><a>配送费加价/元：</a></label>
                <input type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" name="delivery_markup" id="delivery_markup" value="0">
            </div>
            <div class="content">
                <label class="control-label"><a>门店是否允许营业：</a></label>
                <div class="col-sm-8">
                    <div class="radio radio-info radio-inline">
                        <input checked="" class="invoice" type="radio" id="invoiceRadio7" name="is_online" value="1">
                        <label for="invoiceRadio5"> 是 </label>
                    </div>
                    <div class="radio radio-inline">
                        <input class="invoice" type="radio" id="invoiceRadio8" name="is_online" value="0">
                        <label for="invoiceRadio6"> 否 </label>
                    </div>
                </div>
            </div>
            <div class="content">
                <label class="control-label"><a>预订单时间范围：</a></label>
                <div class="form-group p-t-xs">
                    <input type='hidden' name='sel_week' id="week_text"/>
                    <select class="sel_week" multiple="multiple" id="sel_opt_week" >
                        {% for k,v in sel_dintime.items() %}
                             <option value="{{v}}">{{k}}</option>
                        {%endfor%}
                </select>
                </div>
            </div>
            <div class="content">
                <label class="control-label"><a>送餐间隔时间（分钟）:</a></label>
                <div class="dev_time">
                    <select name="devtime" class="devtime">
                        {% for i in devtime %}
                        <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="content">
                <label class="control-label"><a>送餐时间规则：</a></label>
                <div class="col-sm-8">
                    <div class="radio radio-info radio-inline">
                        <input checked="" class="invoice" type="radio" id="invoiceRadio9" name="timerule" value="1">
                        <label for="invoiceRadio5"> 固定餐点 </label>
                    </div>
                    <div class="radio radio-inline">
                        <input class="invoice" type="radio" id="invoiceRadio10" name="timerule" value="2">
                        <label for="invoiceRadio6"> 用户时间顺延</label>
                    </div>
                </div>
            </div>

            <div class="lineofbuss">
                <label class="control-label"><a>门店经营方式：</a></label>
                <div class="col-sm-8">
                    <input type="hidden" name='sel_buss' id="sel_buss"/>
                    <div class="radio radio-info radio-inline">
                        <input checked="" class="lineofbuss" type="checkbox" name="lineofbuss" id="buscheckwm" value="1" >
                        <label for="invoiceRadio5"> 外卖 </label>
                    </div>
                    <div class="radio radio-inline">
                        <input class="lineofbuss" type="checkbox" name="lineofbuss" id="buscheckzt" value="2" >
                        <label for="invoiceRadio6"> 自提 </label>
                    </div>
                </div>
            </div>
            <button class="submitbtn" type="submit" onclick="set_eco_shop()">提交</button>
        </div>

    </div>
</form>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.multi-select.js') }}"></script>
<script src="{{ url_for('static', filename='js/ecoshop.js')}} "></script>
</html>